<form action="" class="list-filter-form" [formGroup]="filterForm">
  <div style="display:flex; flex-direction: row; justify-content: center">
    <mat-form-field fxFlex appearance="outline">
      <input style="height: 40px" matInput formControlName="movie" placeholder="Search your movie here">
    </mat-form-field>&#160;&#160;
    <button [disabled]="!filterForm.valid" mat-raised-button style="color: white; background-color: cornflowerblue" (click)="getMovies()">Search</button>
  </div>
</form>
<div style="display: flex; flex-direction: row; justify-content: center">
  <mat-card *ngFor="let movie of movies" class="example-card">
    <mat-card-header style="display: flex; flex-direction: column">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="center">{{movie.Title}}</mat-card-title>
      <mat-card-subtitle class="center">Type : {{movie.Type}}</mat-card-subtitle>
    </mat-card-header>
    <a target="_blank" href='https://www.imdb.com/title/{{movie.imdbID}}/'><img mat-card-image mat-card-xl-image src="{{movie.Poster}}"></a>
    <mat-card-actions class="center"><br>
      Year : {{movie.Year}} <br>
      IMDB id : {{movie.imdbID}}
    </mat-card-actions>
    {{movie.rating}} star
    <form action="" class="list-filter-form">
      <div style="display: flex; flex-direction: row; justify-content: center">
        <mat-form-field fxFlex appearance="outline">
          <input #sample style="height: 40px" matInput placeholder="Give a rating">
        </mat-form-field>&#160;&#160;
        <button (click)="rate(sample.value, movie.imdbID)" mat-raised-button style="color: white; background-color: cornflowerblue">Rate</button>
      </div>
    </form>
  </mat-card>
</div>
