<form action="" class="list-filter-form">
  <div style="display: flex; flex-direction: row; justify-content: center">
    <mat-form-field fxFlex appearance="outline">
      <input style="height: 40px" matInput placeholder="Give a rating">
    </mat-form-field>&#160;&#160;
    <button mat-raised-button style="color: white; background-color: cornflowerblue">Search</button>
  </div>
</form>
